<div id="nav-bar">
    <!-- Header -->
    <div id="nav-header">
        <a id="nav-title" href="#" target="_blank">DEV-IN-P</a>
    </div>

    <!-- Navigation Content -->
    <div id="nav-content">
        <div class="nav-button" (click)="navigateTo('/home')" [class.active]="selectedNav === '/home'">
            <span>Home</span>
        </div>
        <div class="nav-button" (click)="navigateTo('/analysis')" [class.active]="selectedNav === '/analysis'">
            <span>Analysis</span>
        </div>
        <div class="nav-button" (click)="navigateTo('/bills')" [class.active]="selectedNav === '/bills'">
            <span>Bills</span>
        </div>
        <div class="nav-button" (click)="navigateTo('/investments')" [class.active]="selectedNav === '/investments'">
            <span>Investments</span>
        </div>
        <div class="nav-button" (click)="navigateTo('/ledger')" [class.active]="selectedNav === '/ledger'">
            <span>Ledger</span>
        </div>
        <!-- <div class="nav-button" (click)="navigateTo('/124hig')" [class.active]="selectedNav === '/124hig'">
            <span>124HIG</span>
        </div> -->

    </div>

    <!-- Footer -->
    <div id="nav-footer">
        <div id="nav-footer-heading">
            <div id="nav-footer-avatar">
                <img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547" />
            </div>
            <div id="nav-footer-titlebox">
                <a id="nav-footer-title" href="#" target="_blank">VHR</a>
                <span id="nav-footer-subtitle">{{ formattedTime }}</span>
            </div>
        </div>
    </div>
</div>