<div id="nav-bar">
    <div id="nav-header"><a id="nav-title" target="_blank">DEV-IN-P</a>
    </div>
    <div id="nav-content">
        <div class="nav-button" (click)="navigateTo('/')"><span>Home</span></div>
        <hr/>
        <div class="nav-button" (click)="navigateTo('/bills')"><span>Bills</span></div>
        <div id="nav-content-highlight"></div>
    </div>
    <div id="nav-footer">
        <div id="nav-footer-heading">
        <div id="nav-footer-avatar"><img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"/></div>
        <div id="nav-footer-titlebox"><a id="nav-footer-title" target="_blank">VHR</a><span id="nav-footer-subtitle">{{ formattedTime }}</span></div>
        </div>
    </div>
    </div>