<div class="top-bar">
    <div class="top-bar-child">
        <div *ngFor="let type of analysisTypes">
            <button (click)="onTypeChange(type.type)" [class.active]="analysisType === type.type">{{type.name}}</button>
        </div>
    </div>
    <div class="top-bar-child">
    </div>
</div>

<div class="analysis-container">
    <div class="analysis-div">
        <app-month-dropdown (selectedChange)="onSelectedMonthChange($event)">
        </app-month-dropdown>
    </div>
    <div *ngIf="!isLoading">
        <app-pie-chart [monthlyAnalysisData]="monthlyAnalysisData"></app-pie-chart>
    </div>
    <div *ngIf="isLoading" class="loading-container">
        <span class="loading-text">{{ loadingText }}</span>
    </div>
</div>