.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 48px);
  padding: 12px 24px;
  background: #1e1e1e;
}

.top-bar-child {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
}


.top-bar button {
  background: transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.top-bar button.active {
  background: #333;
}

.bill-list {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #222;
    border-radius: 8px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #444;
  }
  
