<div class="top-bar">
  <div class="top-bar-child">
    <div *ngFor="let type of billTypes">
      <button (click)="onTypeChange(type.type)" 
            [class.active]="billType === type.type">{{type.name}}</button>
    </div>
  </div>
  <div class="top-bar-child">
    <div>
      <button (click)="onAddNewBill()" style="color:lightgreen !important">+ Add</button>
    </div>
  </div>
</div>
  
  <div class="bill-list">
    <ul>
      <li *ngFor="let bill of bills">
        <span>{{ bill.title }}</span>
        <span>${{ bill.amount }}</span>
        <small>Next: {{ bill.nextPayment | date }}</small>
      </li>
    </ul>
  </div>