<div class="top-bar">
    <button (click)="onTypeChange('monthly_payments')" 
            [class.active]="billType === 'monthly_payments'">Monthly Payments</button>
    <button (click)="onTypeChange('all_payments')" 
            [class.active]="billType === 'all_payments'">All Payments</button>
</div>
  
  <div class="bill-list">
    <h3>Bills ({{ billType }})</h3>
    <ul>
      <li *ngFor="let bill of bills">
        <span>{{ bill.title }}</span>
        <span>${{ bill.amount }}</span>
        <small>Next: {{ bill.nextPayment | date }}</small>
      </li>
    </ul>
  </div>