.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #1e1e1e;
}

input {
  padding: 10px;
  font-size: 1.2rem;
  background: #333;
  color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border-color: #888;
}
