@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --main-family: 'Poppins', sans-serif;
  --color-bg: linear-gradient(180deg, #FFFFFF 0%, #AEC6DC 100%);
}

html {
  background-image: url('https://wallpapercave.com/wp/wp3416323.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--main-family);
  min-height: 100%;
}

body{
  margin: 0;
}

#background {
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
