/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .snack-bar-dark {
    background: #333;
    color: #fff;
}

::ng-deep .snack-bar-error {
    background: #b00020;
    color: #fff;
}